.navbar{
    height: 10vh; 
    min-height: 50px; 
    width: calc(100vw + 8px);
    box-shadow: 0px 2px 5px 4px rgba(33,37,41, 0.375);
    position: fixed; 
    left: -8px;
    transition: background 0.35s ease;
    cursor: default !important;
    z-index: 9001;
}

.navbar:hover{
    background: #ffffff;
    transition: background 0.35s ease;
}

.lower{
    background: #ffffff;
    bottom: -6px;
}

.upper{
    background: rgba(255,255,255,0.875); 
    top: 0px;    
}

.navitem{
    width: 22.5%; 
    text-align: center;
}

.navitem p{
    color: #2e8cca;
    line-height: normal;
    transition: color 0.35s ease;
    font-size: 1.5rem; 
    text-decoration: none;
    cursor: default;
}

.navitem p:hover{
    color: #3498db !important;
    transition: color 0.35s ease;
}   

.selected{
    background-color: #ECF0F1 !important;
}

.selected p{
    color: #1b567c !important;
    font-weight: bold !important;
}

.tab button { /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs*/
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 50px 50px;
    transition: 0.3s;
    font-size: 25px;
    text-align: center;
  }

.active .tab:hover { /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs*/
    background-color: #e0dede;
  }

h1 {
  text-align: center;
  padding: 45px;
  font-size: 45px;
}