body{
    background-color: #eceff1 !important;
    color: #000000;
    font-family: 'Lato', Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 45px;
    font-size: 45px;
}

.navbar{
    width: 100vw;
    height: 9.5vh; 
    min-height: 50px; 
    position: fixed; 
    left: 0px;
    box-shadow: 0px 1px 5px 3px rgba(36,42,45, 0.3);
    transition: background 0.3s ease;
    cursor: default !important;
    user-select: none;
    z-index: 9001;
}

.navbar:active{
    background: #ffffff;
    transition: background 0.3s ease;
}

.lower{
    background: #ffffff;
    bottom: -2px;
}

.upper{
    background: rgba(255,255,255,0.875); 
    top: 0px;
    backdrop-filter: blur(5px);
}

.navcont{
    border: none; 
    height: 100%; 
    width: 100vw;
}

.navitem{
    width: 22.5%; 
    text-align: center;
    border-bottom: 3px solid #ffffff;
}

.navitem p{
    color: #2e8cca;
    line-height: normal;
    transition: color 0.3s ease;
    font-size: 1.5rem; 
    text-decoration: none;
    cursor: default;
}

.navitem p:active{
    color: #3498db !important;
    transition: color 0.3s ease;
}   

.selected{
    background-color: #ecf0f1 !important;
    border-bottom: 3px solid #1e5f8a !important;
}

.selected p{
    color: #1e5f8a !important;
    font-weight: bold !important;
}

.menu {
    width: 100% !important;
    height: 25%;
    position: fixed;
    top: 0;
    color: #212529 !important;
    background: #ffffff !important;
    z-index: 10;
    user-select: none;
    transition: all 0.6s ease;
    box-shadow: 0px 1px 5px 3px rgba(36,42,45, 0.3);
}

.hide {
    opacity: 0;
    left: 100% !important;
}

.show {
    opacity: 1;
    left: 0%;
}

.menuitem {
    font-size: 1.6rem;
    font-weight: 300;
    color: #242a2d;
    text-decoration: none !important;
    text-align: left;
    background: inherit;
    list-style: none;
    border-bottom: 3px solid #ffffff !important;
    border-top: 3px solid #ffffff !important;
    width: 100%;
    border: none;
    padding: 10px 0px;
    transition: all 0.3s ease;
    cursor: default !important;
}

.menuitem:active {
    color: #000000;
    background: #fafbfc;
    border-bottom: 3px solid #3498db !important;
    border-top: 3px solid #fafbfc !important;
    transition: all 0.3s ease;
}

.menuicon{
    font-weight: bold !important;
    text-align: center;
    color: inherit;
    transition: color 0.6s ease;
}

.toggled{
    color: #1e5f8a !important;
    transition: color 0.6s ease;
}

/* classes for shawdi's tab */
.overlay {
    display: block;
    position: fixed;
    top: -1%;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(36,42,45, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
    transition: height 0.6s ease, top 0.6s ease;
}

.oshow{
    height: 100%;
    top: 0%;
    transition: height 0.6s ease, top 0.6s ease;
}

.popup {
    display: block;
    position: fixed;
    top: 101%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the pop-up */
    opacity: 0;
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0px 1px 5px 3px rgba(36,42,45, 0.3);
    z-index: 2;
    transition: top 0.6s ease, opacity 0.6s ease;
}

.pshow{
    opacity: 1;
    top: 50%;
    transition: top 0.6s ease, opacity 0.6s ease;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
}

.recipe-list {
    max-width: 100vw;
    margin-bottom: 10vh;
    border: 15px solid #ffffff;
}

.recipe-list ul {
    list-style-type: none;
    padding: 0px;
}

.recipe-list li {
    padding: 0px;
    border-bottom: 1px solid #c6ced2;
}